div(class="panel panel-default items-panel box-shadow")
  div(class="panel-heading")=__('Section List')
   include ../includes/items-actions
  div(class="panel-body", id="items-{{name}}")
      table(class="table table-striped table-bordered table-hover")
        thead
         tr
          th(style="width: 80%")=__('Name')
          th=__('Actions')
        tbody
         include ../includes/select-empty
         tr(ng-repeat='selectItem in items | orderBy:predicate:reverse' ng-click="detail(selectItem._id)"  class="click")
          td(ng-click="doAction(false)") {{selectItem.name}}
           table(style="display:none; width: 100%" id="{{selectItem._id}}")
            tr
             th(style="width: 20%")=__('Code')
             th(style="width: 80%")=__('Description')
            tr
             td(ng-click="doAction(false)") {{selectItem.code}}
             td(ng-click="doAction(false)") {{selectItem.description}}
          td(ng-click="doAction(true)")
            div(class="btn-group")
                include ../includes/actions-item
      include ../includes/pagination
