form(name="mainForm", role="form", ng-submit='save()', submitted="submitted", novalidate shake-that)
 div(class="panel panel-default main-panel", ng-class="{'box-shadow':$root.showing}")
  div(class="panel-heading")=__('Content')
   include ../includes/main/actions
  div(class="panel-body slide-down", ng-show="$root.showing")
      include ../includes/actions/default
      label(for="contentSection")=__('Section')
      div(class="form-group" ng-class="{'has-error': mainForm.section.$invalid && submitted}")
       select(class="form-control", name="section", id="contentSection", ng-model="item.section" required autofocus)
        option(value="")=__('Select a section')
        option(ng-repeat='section in sections' value="{{section._id}}") {{section.name}}
      label(for="contentCategory")=__('Category')
      div(class="form-group" ng-class="{'has-error': mainForm.category.$invalid && submitted}")
       select(class="form-control", name="category", id="contentCategory", ng-model="item.category" required)
        option(value="")=__('Select a category')
        option(ng-repeat='category in categories' value="{{category._id}}") {{category.name}}
      label(for="contentTitle")=__('Title')
      div(class="form-group" ng-class="{'has-error': mainForm.title.$invalid && submitted}")
       input(type="text", class="form-control", name="title", id="contentTitle", placeholder=__('Title'), ng-model="item.title" capitalize-first required)
      label(for="contentSubtitle")=__('Subtitle')
      div(class="form-group" ng-class="{'has-error': mainForm.subtitle.$invalid && submitted}")
       input(type="text", class="form-control", name="subtitle", id="contentSubtitle", placeholder=__('Subtitle'), ng-model="item.subtitle" capitalize-first required)
      label(for="contentInitialText")=__('Initial Text')
      div(class="form-group" ng-class="{'has-error': mainForm.initialText.$invalid && submitted}")
       input(type="text", class="form-control", name="initialText", id="contentInitialText", placeholder=__('Initial Text'), ng-model="item.initialText" capitalize-first required)
      label(for="contentFullText")=__('Full Text')
      div(class="form-group" ng-class="{'has-error': mainForm.fullText.$invalid && submitted}")
       text-angular(id="contentFullText", placeholder=__('Full Text'), ng-model="item.fullText")
