extends layouts/manager

block content
  div(class="container", ng-controller="UserController")
<<<<<<< HEAD
    include users/main
    include users/items
=======
    div(class="panel panel-default")
      div(class="panel-heading")=__('User')
      div(class="panel-body")
          form(class="form-user", name="userForm", role="form", ng-submit='save()')
              input(type="email", class="form-control", name="email", id="userEmail", placeholder=__('Email'), ng-model="item.email", ng-readonly="item._id" required)
              input(type="text", class="form-control", name="name", id="userName" placeholder=__('Name'), ng-model="item.name" capitalize-first required)
              include password-inputs
              include includes/actions
    div(class="panel panel-default")
      div(class="panel-heading")=__('User List')
      div(class="panel-body")
          table(class="table table-striped table-bordered table-hover")
            thead
             tr
              th(style="width: 25%")=__('Email')
              th(style="width: 35%")=__('Name')
              th(style="width: 10%")=__('Type')
              th(style="width: 10%")=__('Status')
              th=__('Actions')
            tbody
             tr(ng-repeat='user in items | orderBy:predicate:reverse' ng-click="find(user._id)" class="click")
              td(ng-click="doAction(false)") {{user.email}}
              td(ng-click="doAction(false)") {{user.name}}
              td(ng-click="doAction(false)") {{user.managerType}}
              td(ng-click="doAction(false)") {{user.status}}
              td(ng-click="doAction(true)")
                div(class="btn-group")
                    a(class="btn btn-primary btn-xs" ng-click="doAction(false);find(user._id)") 
                        i(class="fa fa-user fa-fw") 
                        =__('User')
                    a(class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" href="#")
                        span(class="fa fa-caret-down")
                    ul(class="dropdown-menu")
                        li
                            a(ng-click="doAction(false);find(user._id)")
                                i(class="fa fa-pencil fa-fw")
                                =__('Edit')
                        li(ng-show="user.email !== userDetails.email")
                            a(ng-click="remove(user._id)")
                                i(class="fa fa-trash-o fa-fw")
                                =__('Delete')
                        li(ng-show="user.email !== userDetails.email && user.status === 'ACTIVE'")
                            a(ng-click="status(user._id, 'INACTIVE')")
                                i(class="fa fa-ban fa-fw")
                                =__('Deactivate')
                        li(ng-show="user.email !== userDetails.email && user.status === 'INACTIVE'")
                            a(ng-click="status(user._id, 'ACTIVE')")
                                i(class="fa fa-check-circle-o fa-fw")
                                =__('Activate')
                        li(class="divider", ng-show="user.email !== userDetails.email && userDetails.managerType === 'ADMIN' && user.status === 'ACTIVE'")
                        li(ng-show="user.email !== userDetails.email && userDetails.managerType === 'ADMIN' && user.status === 'ACTIVE' && user.managerType !== 'ADMIN'")
                            a(ng-click="managerType(user._id, 'ADMIN')")
                                i(class="fa fa-slack fa-fw")
                                =__('Make admin')
                        li(ng-show="user.email !== userDetails.email && userDetails.managerType === 'ADMIN' && user.status === 'ACTIVE' && user.managerType === 'ADMIN'")
                            a(ng-click="managerType(user._id, 'NORMAL')")
                                i(class="fa fa-user fa-fw")
                                =__('Make normal')
                    
          include includes/pagination
      
>>>>>>> branch 'master' of https://github.com/lordfelipe/portal-manager.git
  script(src='/javascripts/app/controllers/UserController.js', type='text/javascript')
